body {
background-color:#000 !important;}
  *::before,
  *::after {
    flex-basis: 0;
    order: 1;
  }
 
  a, button {
    -webkit-highlight: none;
    -webkit-tap-highlight-color: transparent;
  }
